In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importing the dataset
dataset = pd.read_csv('Churn_Modelling.csv')

In [3]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
dataset.Gender.unique()

array(['Female', 'Male'], dtype=object)

In [8]:
dataset.loc[dataset.Gender == 'Female', 'Gender'] = 0
dataset.loc[dataset.Gender == 'Male', 'Gender'] = 1

In [9]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [10]:
dataset.Geography.unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [11]:
dataset.loc[dataset.Geography == 'France', 'Geography'] = 0
dataset.loc[dataset.Geography == 'Spain', 'Geography'] = 1
dataset.loc[dataset.Geography == 'Germany', 'Geography'] = 2

In [18]:
dataset.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [16]:
X = dataset.iloc[:, 3:13]
y = dataset.iloc[:, 13]

In [17]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,1,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,1,0,43,2,125510.82,1,1,1,79084.10

In [ ]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [ ]:
# Importing the Keras libraries and packages
import keras
#Sequential to intialize Neural network
from keras.models import Sequential
#Dense module to intialize hidden layers
from keras.layers import Dense

![title](img/DLSteps.png)

In [ ]:
# Initialising the ANN
classifier = Sequential()

In [ ]:
# Adding the input layer and the first hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 11))

In [ ]:
# Adding the second hidden layer
#hidden layers = number of input nodes(11) + output node (1) /2 = 6
#init = 'uniform' to intialize random weights close to zero 
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))

In [ ]:
# Adding the second hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))

In [ ]:
# Adding the output layer
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

In [ ]:
# Compiling the ANN
# Optimizer to find the optimal weights. adam is a stochastic gradient descent algorithm 
# loss is the loss function --Its a logarithmic loss function - binary cross entropy(0/1)
# metrics - accuracy to be used to improve the model performance
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

![title](img/dlloss.png)

In [ ]:
# Fitting the ANN to the Training set
#batch size- After 10 observations are trained, need to update weights
#epoc is the number of repetitions
classifier.fit(X_train, y_train, batch_size = 10, nb_epoch = 100)

In [ ]:
# Part 3 - Making the predictions and evaluating the model
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [ ]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)